﻿@model IEnumerable<MessageViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<meta http-equiv="refresh" content="20">
<table class="table" id="messages">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.First().CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.First().Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => message.CreationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => message.Text)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@message.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
